{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
<section class="dashboard">
  {% if session['user'] %}
  <h1>Hello {{ session.user.username }}</h1>
  {% endif %}
  This is some body content
  <button onclick="testSet()">Test task setting</button>
  <input name="taskTitle" type="text" id="taskTitle">
  <select name="status" id="status">
    <option value="planned">Planned</option>
    <option value="completed">Completed</option>
    <option value="inprogress">In Progress</option>
    <option value="dropped">Dropped</option>
  </select>
  <button onclick="newTask()">Create new task</button>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/api.js')}}"></script>
<script src="{{ url_for('static', filename='js/load_tasks.js')}}"></script>
{% endblock %}
