{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block style %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
{% endblock %} {% block content %}
<section class="dashboard">
  <svg style="display: none" xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-planned" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <circle cx="16" cy="16" r="15" stroke="#fff" stroke-dasharray="3.927 3.927" stroke-linecap="round" stroke-opacity=".15" stroke-width="2" />
    </symbol>
    <symbol id="icon-incomplete" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <rect width="30" height="30" x="1" y="1" stroke="#fff" stroke-opacity=".15" stroke-width="2" rx="15" />
    </symbol>
    <symbol id="icon-in-progress" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <rect width="32" height="32" fill="#FE9A37" rx="16" />
      <path stroke="#fff" stroke-linecap="round" stroke-opacity=".9" stroke-width="2" d="M16 11v5m.016.034 3.464 2M25 16a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </symbol>
    <symbol id="icon-complete" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <rect width="32" height="32" fill="#31C950" rx="16" />
      <path stroke="#fff" stroke-linecap="round" stroke-opacity=".9" stroke-width="2" d="M13.95 22.287 22.556 10M9 17.33l4.95 4.95" />
    </symbol>
    <symbol id="icon-dropped" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <rect width="32" height="32" fill="#FB2C36" rx="16" />
      <path stroke="#fff" stroke-linecap="round" stroke-opacity=".9" stroke-width="2" d="m10 10 11.907 12m-11.814 0L22 10" />
    </symbol>
  </svg>
  <div class="sidebar">
    <div class="filter-section">
      <div class="header">
        <h5><i class="fa-solid fa-layer-group"></i>Category</h5>
        <button onclick="filterByCategory(event, true)">Clear</button>
      </div>
      <div class="category-list filter-list">

      </div>
    </div>
    <div class="filter-section">
      <div class="header">
        <h5><i class="fa-regular fa-calendar-days"></i>Date</h5>
        <button>Clear</button>
      </div>
      <div class="date-list filter-list">
        <button onclick="filterByDate(event)" data-value="today">Due Today</button>
        <button onclick="filterByDate(event)" data-value="week">Due This Week</button>
        <button onclick="filterByDate(event)" data-value="month">Due This Month</button>
        <button onclick="filterByDate(event)" data-value="year">Due This Year</button>
        <button onclick="filterByDate(event)" data-value="past">Past Due</button>
      </div>
    </div>
    <div class="filter-section">
      <div class="header">
        <h5><i class="fa-regular fa-circle-check"></i>Status</h5>
        <button>Clear</button>
      </div>
      <div class="status-list filter-list">
        <button onclick="filterByStatus(event)" data-value="planned">
          <svg class="option-icon" width="20" height="20" viewBox="0 0 32 32"><use href="#icon-planned"></use></svg>
          Planned
        </button>
        <button onclick="filterByStatus(event)" data-value="incomplete">
          <svg class="option-icon" width="20" height="20" viewBox="0 0 32 32"><use href="#icon-incomplete"></use></svg>
          Incomplete
        </button>
        <button onclick="filterByStatus(event)" data-value="complete">
          <svg class="option-icon" width="20" height="20" viewBox="0 0 32 32"><use href="#icon-complete"></use></svg>
          Complete
        </button>
        <button onclick="filterByStatus(event)" data-value="inprogress">
          <svg class="option-icon" width="20" height="20" viewBox="0 0 32 32"><use href="#icon-in-progress"></use></svg>
          In Progress
        </button>
        <button onclick="filterByStatus(event)" data-value="dropped">
          <svg class="option-icon" width="20" height="20" viewBox="0 0 32 32"><use href="#icon-dropped"></use></svg>
          Dropped
        </button>
      </div>
    </div>
  </div>
  <div class="task-list-container">
    <div class="task-header">
      <!-- <span class="status">✅</span> -->
      <span class="title">Task Name</span>
      <span class="due-date-container">Due Date</span>
      <span class="created-date">Date Created</span>
      <span class="category">Category</span>
      <!-- <span class="menu">Menu</span> -->
    </div>
    <div class="task-list"></div>
    <div class="new-task">
      <div class="input hidden">
        <div class="task-status-container" data-status="incomplete">
        </div>
        <input name="new-task-title" type="text" id="new-task-title" placeholder="Do something..."/>
        <input name="new-due-date" type="date" id="new-due-date">
        <div class="task-category-container" data-category="none">
        </div>
        <div class="buttons">
          <button class="cancel glass error" onclick="taskToggle(true)"><i class="fa-solid fa-x"></i></button>
          <button class="create glass success" onclick="addNewTask()"><i class="fa-solid fa-check"></i></button>
        </div>
      </div>
      <button class="new" onclick="taskToggle(false)"><i class="fa-solid fa-plus"></i>Create New Task</button>
    </div>
  </div>
</section>
<dialog class="category">
  <h4>Create a new category</h4>
  <form>
    <label for="category-name">Category Name</label>
    <input type="text" id="category-name" name="category-name" placeholder="Personal">
    <p>Color</p>
    <input type="radio" id="red" value="82181A" name="category_color">
    <input type="radio" id="green" value="0D542B" name="category_color">
    <input type="radio" id="blue" value="024A70" name="category_color">
    <input type="radio" id="purple" value="59168B" name="category_color">
    <div class="buttons">
      <button value="cancel" formmethod="dialog">Cancel</button>
      <button id="confirmBtn" value="default">Create</button>
    </div>
  </form>
</dialog>
{% endblock %} {% block scripts %}
<script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
<script src="{{ url_for('static', filename='js/api.js')}}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom_select.js')}}"></script>
{% endblock %}
